on:
  push:
  workflow_dispatch:
jobs:
  local-post-steps-bug:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      id: checkout
    - uses: redgarb/local-post-steps-bug/.github/workflows/actions/depth1-absolut@master
    - uses: redgarb/local-post-steps-bug/.github/workflows/actions/post-step@master
      with:
        STEPS: ${{ tojson(steps) }}
