on:
  push:
  workflow_dispatch:
jobs:
  local-post-steps-bug:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      id: checkout
    - uses: redgarb/local-post-steps-bug/depth1-absolut
    - uses: redgarb/local-post-steps-bug/post-step
      with:
        STEPS: ${{ tojson(steps) }}
